
/*
PROSSIMA COSA FARE LE OMBREGGIATURE SOTTO AI PULSANTI, UNA VOLTA FINITO POSSO SMEZZARE LA PAGINA WORKS
*/

/*
.centered = (temporary) container in home page for centered items
.contact = form in contacts page
.photo = photo in home page
.foobar = foot links to other pages
.foobar-content = any single link in foobar
.section = icon links in home page
.welcome = title in home page
*/

*{
  font-family: "Verdana", "Arial", sans-serif;
}
p{
  font-size: 14px;
}
h1{
  font-size: 33px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.blue{
  color: royalblue;
}
.red{
  color: red;
}
.purple{
  color: mediumslateblue;
}
.orange{
  color: tomato;
}
a {
  color: white;
}
a.text-link{
  color: black;
  font-size: 15px;
}
a, a.text-link{
  text-decoration: none;
}
a:hover {
  color: orange;
}
a > img{
  object-fit: contain;
}
.photo{
  margin-top: 16px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
}
.welcome{
  color: white;
  text-align: left;
  display: flex;
  justify-content: center;
}
.section{
  width:225px;
  height:225px;
  text-align: center;
  border-radius: 8px;
  margin: 3px;
  padding-top: 18px;
  padding-bottom: 18px;
  box-shadow: 0px 15px 10px -10px rgba( 0,0,0,0.6);
}
.section > a > img{
  width: 90%;
  height: 90%;
}
.section > a:hover{
  text-decoration: none;
}
.socialbar{
  z-index: 2;
  width: 100%;
  height: 90px;
  display: flex;
  justify-content: center;
  color: white;
  position: fixed;
  bottom: 0px;
  padding-bottom: 10px;
  background: rgba(51, 51, 51, 0.4);
}
.socialbar > .row{
  width: 241px;
  position: fixed;
  bottom: 15px;
  right: 20px;
}
.social{
  display: flex;
  justify-content: center;
}
.pagebox{
  width: 66%;/*xs page gets adapted*/
  margin-top: 40px;
  margin-bottom: 67px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
  background-color: white;
  border-radius: 5px;
}
.padded{
  padding-right: 45px;
}
.foobar{
  position: fixed;
  width: 50%;
  bottom: 10px;
  left: 25%;
  align-items: center;
}
.pages{
  display: flex;
  justify-content: space-around;
}
.social-content, .foobar-content{
  width: 37px;
  height: 37px;
  padding: 6px;
  box-shadow: 0px 15px 10px -10px rgba( 0,0,0,0.6);
}
.social-content{
  padding-top: 7px;
  border-radius: 18px;
  font-size: 23px;
}
.foobar-content{
  border-radius: 6px;
}
.social-content > a > img, .foobar-content > a > img{
  width: 100%;
  height: 100%;
}
.section, .social-content, .foobar-content, .icon-zoom{
transition: transform .2s;
}
.section:hover, .foobar-content:hover, .icon-zoom:hover {
  transform: scale(1.2);
  z-index: 1;
}
.section:hover, .social-content:hover, .foobar-content:hover{
  box-shadow: 0px 24px 10px -10px rgba( 0,0,0,0.2);
}
.centered{
  width: 100%;
  display: flex;
  justify-content: center;
}
.centered > .row{
  justify-content: center;
}
.contact{
  width: 100%;
  margin: 0px;
  padding: 10px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #F9F9F9;
  border: 1px solid #D6D9DC;
  border-radius: 3px;
}
.contact input[type='email']:invalid {
  border: 1px solid #D55C5F;
  color: #D55C5F;
  box-shadow: none;
}
.name{
  width:100%;
  max-width: 300px;
}
.email{
  width:100%;
  max-width: 300px;
}
.message{
  width:100%;
  height: 200px;
}
.send{
  align-self: center;
}

/*Small*/
@media (min-width: 576px) {
  .pagebox{
    margin-bottom: 106px;
    padding-left: 54px;
    padding-right: 54px;
  }
  .padded{
    padding-right: 80px;
  }
  .foobar{
    bottom: 20px;
  }
  .foobar-content{
    border-radius: 10px;
    padding: 10px;
    width: 66px;
    height: 66px;
    box-shadow: 0px 15px 10px -10px rgba( 0,0,0,0.6);
  }
  .foobar-content:hover{
    box-shadow: 0px 38px 10px -10px rgba( 0,0,0,0.2);
  }
  .message{
    height: 125px;
  }
}
/*Medium*/
@media (min-width: 768px) {
  .welcome{
    text-align: center;
  }
  .section{
    margin: 4px;
    padding-top: 18px;
    padding-bottom: 18px;
    height: 240px;
  }
  .pagebox{
    margin-bottom: 116px;
    padding-left: 56px;
    padding-right: 56px;
  }
  .padded{
    padding-right: 77px;
  }
  .foobar{
    bottom: 19px;
  }
  .foobar-content{
    border-radius: 9px;
    padding: 9px;
    width: 77px;
    height: 77px;
    box-shadow: 0px 15px 10px -10px rgba( 0,0,0,0.6);
  }
  .foobar-content:hover{
    box-shadow: 0px 32px 10px -10px rgba( 0,0,0,0.2);
  }
}
/*Large devices (desktops and landscape tablets) and above*/
@media (min-width: 992px) {
  .section{
    margin: 2px;
    padding-top: 12px;
    padding-bottom: 12px;
    height: 155px;
  }
  .section > a > img{
    width: 85%;
    height: 85%;
  }
  .pagebox{
    margin-bottom: 143px;
    padding-left: 72px;
    padding-right: 72px;
  }
  .padded{
    padding-right: 101px;
  }
  .foobar{
    bottom: 24px;
  }
  .foobar-content{
    border-radius: 12px;
    padding: 12px;
    width: 99px;
    height: 99px;
    box-shadow: 0px 15px 10px -10px rgba( 0,0,0,0.6);
  }
  .foobar-content:hover{
    box-shadow: 0px 41px 10px -10px rgba( 0,0,0,0.2);
  }
}
/*Extra-Large devices (large desktops)*/
@media (min-width: 1280px) {
  .pagebox{
    margin-bottom: 148px;
    padding-left: 76px;
    padding-right: 76px;
  }
  .padded{
    padding-right: 103px;
  }
  .foobar{
    width: 50%;
    bottom: 21px;
  }
  .foobar-content{
    border-radius: 10px;
    width: 107px;
    height: 107px;
    padding: 10px;
    box-shadow: 0px 15px 10px -10px rgba( 0,0,0,0.6);
  }
  .foobar-content:hover{
    box-shadow: 0px 18px 10px -10px rgba( 0,0,0,0.2);
  }
}
