
/*
.centered = (temporary) container in home page for centered items
.contact = form in contacts page
.icon = photo in home page
.foobar = foot links to other pages
.foobar-content = any single link in foobar
.section = icon links in home page
.welcome = title in home page
*/

*{
  font-family: "Verdana", "Arial", sans-serif;
}
p{
  font-size: 14px;
}
h1{
  padding-top: 20px;
  padding-bottom: 20px;
}
.blue{
  color: blue;
}
.red{
  color: red;
}
.purple{
  color: purple;
}
.orange{
  color: orange;
}
a {
  color: white;
}
a.text-link{
  color: black;
  font-size: 15px;
}
a, a.text-link{
  text-decoration: none;
}
a:hover {
  color: orange;
}
/*----------------BASIC FORMAT ENDS HERE----------------*/
a > img{
  object-fit: contain;
}
.icon{
  margin-top: 16px;
  display: flex;
}
.welcome{
  color: white;
  display: flex;
  justify-content: center;
}
.section{
  text-align: center;
  border-radius: 8px;
}
.section > a:hover{
  text-decoration: none;
}
.orange:hover, .red:hover, .purple:hover, .blue:hover {
  transform: scale(1.5);
  z-index: 1;
}
.pagebox{
  width: 66%;
  margin-top: 40px;
  margin-bottom: 67px;
  padding-left: 30px;
  padding-right: 45px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 15px 20px #5c8c45;
}
.foobar{
  position: fixed;
  width: 50%;
  bottom: 10px;
  left: 25%;
  align-items: center;
}
.pages{
  display: flex;
  justify-content: space-around;
}
.foobar-content{
  border-radius: 6px;
  width: 37px;
  height: 37px;
  padding: 6px;
}
.foobar-content > a > img{
  width: 100%;
  height: 100%;
}
.centered > .row{
  justify-content: center;
}
.section, .foobar-content, .orange, .red, .purple, .blue{
transition: transform .2s;
}
.section:hover, .foobar-content:hover, .orange:hover, .red:hover, .purple:hover, .blue:hover {
  transform: scale(1.2);
  z-index: 1;
}
.contact{
  background-color: #F9F9F9;
  border: 1px solid #D6D9DC;
  border-radius: 3px;
  padding: 10px;
  margin-right: 15px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 700px;
}
.contact input[type='email']:invalid {
  border: 1px solid #D55C5F;
  color: #D55C5F;
  box-shadow: none;
}
.name{
max-width: 300px;
}
.email{
max-width: 300px;
}
.message{
  height: 200px;
}
.send{
  align-self: center;
}

/*Extra Small*/
@media (min-width: 320px) {
  h1{
    font-size: 33px;
  }
  .welcome{
    text-align: left;
  }
  .section{
    margin: 3px;
    padding-top: 18px;
    padding-bottom: 18px;
  }
  .section > a > img{
    width: 90%;
    height: 90%;
  }
}
/*Small*/
@media (min-width: 576px) {
  h1{
    font-size: 33px;
  }
  .welcome{
    text-align: left;
  }
  .section{
    margin: 3px;
    padding-top: 18px;
    padding-bottom: 18px;
  }
  .section > a > img{
    width: 90%;
    height: 90%;
  }
  .pagebox{
    margin-bottom: 106px;
    padding-left: 54px;
    padding-right: 80px;
  }
  .foobar{
    bottom: 20px;
  }
  .foobar-content{
    border-radius: 10px;
    padding: 10px;
    width: 66px;
    height: 66px;
  }
}
/*Extra Small, Small and Medium*/
@media (max-width: 991px) {
  .icon{
    justify-content: center;
  }
  .section{
    margin: 4px;
    padding-top: 12px;
    padding-bottom: 12px;
  }
  .section > a > img{
    width: 85%;
    height: 85%;
  }
}
/*Medium*/
@media (min-width: 768px) {
  .welcome{
    text-align: center;
  }
  .section{
    margin: 4px;
    padding-top: 18px;
    padding-bottom: 18px;
  }
  .section > a > img{
    width: 90%;
    height: 90%;
  }
  .pagebox{
    margin-bottom: 116px;
    padding-left: 56px;
    padding-right: 77px;
  }
  .foobar{
    bottom: 19px;
  }
  .foobar-content{
    border-radius: 9px;
    padding: 9px;
    width: 77px;
    height: 77px;
  }
}
/*Large devices (desktops and landscape tablets) and above*/
@media (min-width: 992px) {
  .icon{
    justify-content: flex-end;
  }
  .welcome{
    justify-content: flex-start;
    text-align: left;
  }
  .contact{
    margin-left: 120px;
    margin-right: 135px;
  }
  .section{
    margin: 4px;
    padding-top: 24px;
    padding-bottom: 24px;
  }
  .pagebox{
    margin-bottom: 143px;
    padding-left: 72px;
    padding-right: 101px;
  }
  .foobar{
    bottom: 24px;
  }
  .foobar-content{
    border-radius: 12px;
    padding: 12px;
    width: 99px;
    height: 99px;
  }
}
/*Extra-Large devices (large desktops)*/
@media (min-width: 1280px) {
  .contact{
    margin-left: 210px;
    margin-right: 225px;
  }
  .section{
    margin: 2px;
    padding-top: 12px;
    padding-bottom: 12px;
  }
  .section > a > img{
    width: 85%;
    height: 85%;
  }
  .pagebox{
    margin-bottom: 148px;
    padding-left: 76px;
    padding-right: 103px;
  }
  .foobar{
    width: 50%;
    bottom: 21px;
  }
  .foobar-content{
    border-radius: 10px;
    width: 107px;
    height: 107px;
    padding: 10px;
  }
}
